<div>

</div>

<div class="card-container">
  <div>
    <img *ngIf="accommodation.photos && accommodation.photos.length > 0; else defaultCoverPhoto"
         src="{{accommodation?.photos[0]}}" alt="accommodation cover photo">
    <ng-template #defaultCoverPhoto>
      <img src="assets/img/no_img.png" alt="no cover photo">
    </ng-template>
  </div>
  <div class="bottom-container">
    <div>
      <app-address [address]="accommodation?.address"></app-address>
    </div>
    <div>
      <app-rating [rating]="accommodation?.rating"></app-rating>
    </div>
    <div>
      <app-price [price]="accommodation?.price"></app-price>
    </div>
  </div>
</div>
