<div class="container-fluid footer-container">
  <div class="row">
    <div class="col-sm-3">
      <ul>
        <li>
          <a class="footer-link" routerLink='/'>Bruship</a>
        </li>
        <li>
          <a class="footer-link" routerLink="/accommodations">Accommodations</a>
        </li>
        <li>
          <a class="footer-link" routerLink="/tips">Tips</a>
        </li>
        <li>
          <a class="footer-link" routerLink="/contact_us">Contact us</a>
        </li>
      </ul>

    </div>

    <div class="col-sm-4">
      <div class="disclaimer">
        <h5>Disclaimer</h5>
        <span>Please be advised that this page is a demo website with NO REAL DATA about accommodations in Brussels.
          It can't be used for searching accommodations, but is there only for demo purposes.</span>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="built-with">
        <h5>Technologies used</h5>
        MEAN stack: <a class="technologie-link" href="https://angular.io/">Angular 5</a>,
        <a class="technologie-link" href="http://expressjs.com/">Express server</a> in
        <a class="technologie-link" href="https://nodejs.org/">NodeJS</a>,
        <a class="technologie-link" href="https://www.mongodb.com/">MongoDB</a>

        <div class="d-sm-flex flex-row justify-content-sm-center">
          <div class="p-2">
            <a href="https://www.mongodb.com/"><img src="../../assets/img/MongoDB-Logo.svg"></a>
          </div>
          <div class="p-2">
            <a href="http://expressjs.com/"><img src="../../assets/img/Expressjs.png"></a>
          </div>
          <div class="p-2">
            <a href="https://angular.io/"><img src="../../assets/img/Angular_full_color_logo.svg"></a>
          </div>
          <div class="p-2">
            <a href="https://nodejs.org/"><img src="../../assets/img/Node.js_logo.svg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-11 built-by">
      <br>
    Built with &nbsp;<span class="emoji">❤️</span>&nbsp; by Iuliia Ichin-Norbu
    </div>
  </div>
</div>
