@import "../../../palette";

.form-container {
  background-color: @lightPrimaryColor;
  margin: 2rem -16px -1rem;
  padding: 1rem;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
  color: @secondaryTextColor;
}

.form-title {
  text-align: center;

}
input {
  border-color: white;

}
input.ng-invalid{
  border-color: red;
}


.submit-btn {
  background-color: @primaryColor;
  color: @textPrimaryColor;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: @darkPrimaryColor;
  color: @textPrimaryColor;
}

.submit-btn:disabled {
  background-color: @lightPrimaryColor;
  border-color: @secondaryTextColor;
  color: @secondaryTextColor;
  cursor: auto;
  pointer-events: none;
}

.form-status {
  display: inline;
  color: @darkPrimaryColor;
}

.status-warning, .status-error {
  color: red;
}

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}

