<div class="card">
  <div class="card-img-top">
    <img *ngIf="accommodation.coverPhoto; else defaultCoverPhoto" src="{{accommodation?.coverPhoto}}" alt="accommodation cover photo">
    <ng-template #defaultCoverPhoto>
      <img src="assets/img/no_img.png" alt="no cover photo">
    </ng-template>
  </div>
  <div class="card-body">
    <div class="card-title clearfix top-accommodation-title">

      <div class="float-left">
        <app-rating [rating]="accommodation?.averageRating?.rating"></app-rating>
      </div>
      <div class="float-right">
        <app-price [price]="accommodation?.averagePrice?.price"></app-price>
      </div>
    </div>
    <div class="card-text">
      <div class="float-left">
        <app-address [address]="accommodation?.address"></app-address>
      </div>
    </div>

  </div>
</div>
