@import "../../palette";

.background-primary-color {
  background-color: @primaryColor;
}

.navbar-brand {
  font-weight: 800;
}

#navbar-toggle-cbox:checked ~ .collapse {
  display:block;
}

#navbar-toggle-cbox:checked ~ .navbar-toggler-label {
  border-color: @accentColor;
}

#navbar-toggle-cbox {
  display: none;
}

.navbar-toggler-label {
  -webkit-appearance: none;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border-radius: 0.25rem;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
}

.search-form {
  border-color: @dividerColor;
  color: @secondaryTextColor;
}

.search-form:focus {
  box-shadow: none;
}

.search-btn {
  background: transparent;
  border-color: @accentColor;
  color: @accentColor;
  font-weight: 500;
}

.search-btn:hover {
  background-color: @accentColor;
  color: @darkPrimaryColor;
}

.search-btn:active {
  background-color: @accentColor;
  color: @darkPrimaryColor;
}

.login-button {
  min-width: 150px;
}

