.nav-link, .navbar-brand {
  color: rgba(255, 255, 255, 0.87);
}

.navbar-brand {
  font-weight: 800;
}

.nav-item:hover {
  background: #512DA8;
  border-radius: 2px;
}

.navbar-toggler:focus {
  border-color: #FFEB3B;
  outline: none;
}

.search-form {
  border-color: #BDBDBD;
  color: #757575;
}

.search-form:focus {
  box-shadow: none;
}

.search-btn {
  border-color: #FFEB3B;
  color: #FFEB3B;
  font-weight: 500;
}

.search-btn:hover {
  background-color: #FFEB3B;
  color: #512DA8;
}
