
<div class="container-fluid title-container">
  <div class="row align-items-center">
    <div class="col-sm-8 container-title login-title">
      <h3>Want to list your property or rate an existing one?</h3>
      <h4>Then just login and type away!</h4>
    </div>


    <div class="col-sm-4">

      <div role="button" class="login-button btn-block btn" (click)="login()" *ngIf="!authService.isAuthenticated()">
        <i class="material-icons">person_outline</i>
        <span class="login-btn-label">login</span>
      </div>

      <div role="button" class="login-button btn-block btn " (click)="router.navigate(['/account'])" *ngIf="authService.isAuthenticated()">
        <i class="material-icons ">exit_to_app</i>
        <span class="login-btn-label">To your account</span>
      </div>
    </div>
  </div>

</div>

