<div class="container-fluid container-margin howto-list-container">
  <div class="row">
    <div class="col-sm howto-list-title">
      <h3>How to use Bruship to find accommodations?</h3>
      <div class="howto-list-text">
        <span>
          Are you coming to Brussels for a 6-month internship at the European Parlament, European Commission or
          a Brussels based think tank? This website is here to help you find a place to stay in
          during this exciting period. It is hard to rent a nice room in a shared flat or a compact studio
          when you are hundreds of miles away. Just sign up for Bruship and you will have your place secured in no time!
        </span>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 container-margin">
      <div class="howto-img-container background-laptop">
        <div class="transparent-layer">
          Browse Bruship to find an accommodation most suitable for you
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="howto-img-container background-smartphone">
        <div class="transparent-layer">
          Contact the landlord through our platform and get confirmation
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="howto-img-container background-luggage">
        <div class="transparent-layer">
          Arrive in Brussels and check into your new home away from home!
        </div>
      </div>
    </div>

  </div>
</div>
