<bs-navbar></bs-navbar>

<router-outlet></router-outlet>

<!-- Google Analytics -->
<script *ngIf="production">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-111362455-1', 'auto');       //  paste the code till here, have to remove below line.
  ga('send', 'pageview');       //  remove/comment this line, as we’re handling this manually.
</script>
<!-- End Google Analytics -->

