<div class="container-fluid grey-backgrond">

  <div class="container account-container">

    <div class="row">
      <div class="col-sm-6 panel-container">
        <div class="panel">
          <div class="row">
            <div class="col-sm-4 text-center">
              <img *ngIf="profile && profile.picture; else defaultPicture" src="{{profile?.picture}}" class="rounded avatar" alt="avatar">
              <ng-template #defaultPicture>
                <img src="assets/img/no_avatar.png" class="rounded avatar" alt="default avatar">
              </ng-template>
            </div>
            <div class="col-sm-8 text-center">
              <div class="panel-title">
                <h3 *ngIf="profile && profile.given_name; else defaultGreeting">Hello, {{profile?.given_name}}</h3>
                <ng-template #defaultGreeting>
                  <h3>Hello, user</h3>
                </ng-template>
              </div>
              <button class="btn toggle-form-btn my-1" [ngClass]="{'toggled': !hideReviewForm}"
                      (click)="toggleHideReviewForm()">
                <span *ngIf="hideReviewForm; else closeFormLabel">Add new review</span>
                <ng-template #closeFormLabel>
                  <span>Close review form</span>
                </ng-template>
              </button>

              <button class="btn toggle-form-btn my-1" (click)="auth.logout()">LOGOUT</button>
            </div>
          </div>


          <app-review-form [hidden]="hideReviewForm" (reviewAdded)="getReviews()">

          </app-review-form>
          <div>

          </div>


        </div>
      </div>
      <div class="col-sm-6 panel-container">
        <div class="panel">
          <div class="panel-title reviews-title">
            <h3>My reviews</h3>
          </div>
          <app-review-list [reviews]="reviews">

          </app-review-list>
        </div>
      </div>
    </div>
  </div>

</div>
