<div class="container map-accommodations-container">
  <div class="row">
    <div class="col-sm top-title">
      <h3>Best Brussels accommodations on the map</h3>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-9">
      <agm-map *ngIf="centralAccommodations" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let accommodation of centralAccommodations"
                    [latitude]="accommodation.latitude" [longitude]="accommodation.longitude" [label]="accommodation.id">
        </agm-marker>
      </agm-map>
    </div>

    <div class="col-sm-3 map-detail-container">
      <bs-map-accommodation *ngFor="let accommodation of centralAccommodations" [accommodation]="accommodation"></bs-map-accommodation>

    </div>

  </div>

</div>
