<div class="container-fluid grey-backgrond">

  <div class="container account-container">

    <div class="row">
      <div class="col-sm-6 panel-container">
        <div class="panel">
          <div class="row">
            <div class="col-sm-6 panel-title">
            <h3>My reviews</h3>
            </div>
            <div class="col-sm-6">


            </div>
          </div>
          <app-review-list [reviews]="reviews">

          </app-review-list>
        </div>
      </div>
      <div class="col-sm-6 panel-container">
        <div class="panel">
          <div class="row">
            <div class="col-sm-6 panel-title">
              <h3>Hello, {{profile?.given_name}}</h3>
              <button class="btn" (click)="toggleHideReviewForm()">add new review</button>
            </div>
            <div class="col-sm-6 text-center">
              <img src="{{profile?.picture}}" class="rounded avatar" alt="avatar">
            </div>
          </div>


          <app-review-form [hidden]="hideReviewForm" (reviewAdded)="getReviews()">

          </app-review-form>
          <div>

          </div>


        </div>
      </div>
    </div>
  </div>

</div>
